<label class="control-label">{{i18n "tl3_requirements.title"}}</label>

<p>{{i18n "tl3_requirements.table_title" count=model.trust_level3_requirements.time_period}}</p>

<table class="table" style="width: auto;">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>{{i18n "tl3_requirements.value_heading"}}</th>
      <th>{{i18n "tl3_requirements.requirement_heading"}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{i18n "tl3_requirements.visits"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_days_visited}}</td>
      <td>{{model.trust_level3_requirements.days_visited}}</td>
      <td>{{model.trust_level3_requirements.min_days_visited}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.topics_replied_to"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_topics_replied_to}}</td>
      <td>{{#if model.trust_level3_requirements.capped_topics_replied_to}}&ge; {{/if}}{{model.trust_level3_requirements.num_topics_replied_to}}</td>
      <td>{{model.trust_level3_requirements.min_topics_replied_to}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.topics_viewed"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_topics_viewed}}</td>
      <td>{{model.trust_level3_requirements.topics_viewed}}</td>
      <td>{{model.trust_level3_requirements.min_topics_viewed}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.topics_viewed_all_time"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_topics_viewed_all_time}}</td>
      <td>{{model.trust_level3_requirements.topics_viewed_all_time}}</td>
      <td>{{model.trust_level3_requirements.min_topics_viewed_all_time}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.posts_read"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_posts_read}}</td>
      <td>{{model.trust_level3_requirements.posts_read}}</td>
      <td>{{model.trust_level3_requirements.min_posts_read}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.posts_read_all_time"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_posts_read_all_time}}</td>
      <td>{{model.trust_level3_requirements.posts_read_all_time}}</td>
      <td>{{model.trust_level3_requirements.min_posts_read_all_time}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.flagged_posts"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_flagged_posts}}</td>
      <td>{{model.trust_level3_requirements.num_flagged_posts}}</td>
      <td>{{i18n "max_of_count" count=model.trust_level3_requirements.max_flagged_posts}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.flagged_by_users"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_flagged_by_users}}</td>
      <td>{{model.trust_level3_requirements.num_flagged_by_users}}</td>
      <td>{{i18n "max_of_count" count=model.trust_level3_requirements.max_flagged_by_users}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.likes_given"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_likes_given}}</td>
      <td>{{model.trust_level3_requirements.num_likes_given}}</td>
      <td>{{model.trust_level3_requirements.min_likes_given}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.likes_received"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_likes_received}}</td>
      <td>{{model.trust_level3_requirements.num_likes_received}}</td>
      <td>{{model.trust_level3_requirements.min_likes_received}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.likes_received_days"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_likes_received_days}}</td>
      <td>{{model.trust_level3_requirements.num_likes_received_days}}</td>
      <td>{{model.trust_level3_requirements.min_likes_received_days}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.likes_received_users"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_likes_received_users}}</td>
      <td>{{model.trust_level3_requirements.num_likes_received_users}}</td>
      <td>{{model.trust_level3_requirements.min_likes_received_users}}</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.silenced"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_silenced}}</td>
      <td>{{model.trust_level3_requirements.penalty_counts.silenced}}</td>
      <td>0</td>
    </tr>
    <tr>
      <th>{{i18n "tl3_requirements.suspended"}}</th>
      <td>{{check-icon model.trust_level3_requirements.met_suspended}}</td>
      <td>{{model.trust_level3_requirements.penalty_counts.suspended}}</td>
      <td>0</td>
    </tr>
  </tbody>
</table>



